# Python & Virtualenv
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Environment Variables
.env

# Streamlit
.streamlit/config.toml

# IDE & OS
.vscode/
.idea/
.DS_Store

# Temporary Scratch & Artifacts
scratch/

